<div ng-show="state.current.name==='bancos.edit'||state.current.name==='bancos.add'">
     <ol class="breadcrumb">
        <li class="active">Catálogos</li>
        <li class="active"><a ui-sref="bancos">Bancos</a></li>
        <li class="active actualpg" ng-show="state.current.name === 'bancos.add'">Agregar Banco</li>
        <li class="active actualpg" ng-show="state.current.name === 'bancos.edit'">Editar Banco</li>
    </ol>
    <progressbar class="progress-striped active" value="100" type="info" ng-show="loading"></progressbar>
    <div class="toolbar">
        <div class="pull-right">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group  btn-group-sm">
                    <!--<button class="btn btn-default" tooltip="Regresar" ng-click="back()"><span class="glyphicon glyphicon-chevron-left"></span></button>-->
                    <button class="btn btn-default guardar" ng-click="save()" ng-disabled="frmBanco.$invalid"><span class="pers-btn icono-guardar tam-normal"></span></button>   
                </div>
            </div>
        </div>
    </div>
    <br>
    
    <div class="panel panel-default">
        <div class="panel-heading">Bancos</div>

        <div class="panel-body">
            <form  role="form" novalidate name="frmBanco">
                <div class="row">
                    <div class="col-md-3">
                        <input type="hidden" class="form-control" ng-model="banco.id">
                        <div class="form-group" ng-class="getFormFieldCssClass(frmBanco.name)">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del Banco" required ng-model="banco.name">
                        </div>
                    </div>
                    <div class="col-md-3">
                         <input type="hidden" class="form-control" ng-model="banco.id">
                        <div class="form-group" ng-class="getFormFieldCssClass(frmBanco.estado)">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"  id="estado" name="estado" ng-model="banco.estado" ng-checked="chek" ng-true-value="Activo" ng-false-value="Inactivo" ng-change="fncCambia()" >
                                    Activar/Desactivar
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </form>        
        </div>
    </div>
</div>