<ol class="breadcrumb">
    <li class="active">Catálogos</li>
    <li class="active"><a ui-sref="zone">Zonas</a></li>
    <li class="active actualpg" ng-show="state.current.name === 'zone.add'">Agregar Zona</li>
    <li class="active actualpg" ng-show="state.current.name === 'zone.edit'">Editar Zona</li>
</ol>
<progressbar class="progress-striped active" value="100" type="info" ng-show="loading"></progressbar>  
<div class="toolbar">
    <div class="pull-right">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group  btn-group-sm">
                <!--<button tooltip="Regresar" class="btn btn-default" ng-click="back()"><span class="glyphicon glyphicon-chevron-left"></span></button>-->
                <button class="btn btn-default sin-padding" ng-click="save()" ng-disabled="sc.frmZone.$invalid"><span class="pers-btn icono-guardar tam-normal"></span></button>                
            </div>
        </div>
    </div>
</div>
<br>

<div class="panel panel-default">
    <div class="panel-heading" style="padding-top:5px; padding-bottom:5px">
        Editar Zona
    </div>    
    <div class="panel-body">
        <div class="panel panel-default">                    
            <div class="panel-body">                
                <div class="row">
                    <div class="col-md-6">
                        <form role="form" novalidate name="sc.frmZone" class="form-horizontal">
                            <div class="col-md-6">                               
                                <input type="hidden" class="form-control" ng-model="zone.id">
                                <div class="form-group" ng-class="getFormFieldCssClass(sc.frmZone.name)">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required  ng-model="zone.name">
                                </div>
                            </div>                               
                        </form>
                    </div>
                </div>
            </div>
        </div>          
    </div>
</div> 