/* 
    Document   : viewOrderShopping
    Created on : 4/08/2012, 02:43:37 PM
    Author     : drackor
    Description:
        Purpose of the stylesheet follows.
*/
input ,select{ display: block; }

