<div ng-show="state.current.name==='tipoPagos.edit'||state.current.name==='tipoPagos.add'">
    <ol class="breadcrumb">
        <li class="active">Catálogos</li>
        <li class="active"><a ui-sref="tipoPagos">Tipos de Pagos</a></li>
        <li class="active actualpg" ng-show="state.current.name === 'tipoPagos.add'">Agregar Tipo de Pago</li>
        <li class="active actualpg" ng-show="state.current.name === 'tipoPagos.edit'">Editar Tipo de Pago</li>
    </ol>
    <progressbar class="progress-striped active" value="100" type="info" ng-show="loading"></progressbar>
    <div class="toolbar">
        <div class="pull-right">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group  btn-group-sm">
                    <!--<button class="btn btn-default" tooltip="Regresar" ng-click="back()"><span class="glyphicon glyphicon-chevron-left"></span></button>-->
                    <button class="btn btn-default sin-padding" ng-click="save()" ng-disabled="frmTipoPagos.$invalid"><span class="pers-btn icono-guardar tam-normal"></span></button>
                </div>
            </div>
        </div>
    </div>
    <br>
    
    <div class="panel panel-default">
        <div class="panel-heading">Tipos de Pagos</div>

        <div class="panel-body">
            <form  role="form" novalidate name="frmTipoPagos">
                <div class="row">
                    <div class="col-md-3">
                        <input type="hidden" class="form-control" ng-model="tipoPagos.id">
                        <div class="form-group" ng-class="getFormFieldCssClass(frmTipoPagos.tipoPago)">
                            <label for="name">Pago</label>
                            <input type="text" class="form-control" id="name" name="tipoPago" placeholder="Tipo de Pago" required ng-model="tipo.tipoPago">
                        </div>
                    </div>

                </div>
            </form>        
        </div>
    </div>
</div>