<div ng-show="state.current.name==='activityType.edit'||state.current.name==='activityType.add'">
    <ol class="breadcrumb">
        <li class="active">Catálogos</li>
        <li class="active "><a ui-sref="activityType">Tipo de Actividad</a></li>
        <li class="active actualpg" ng-show="state.current.name === 'activityType.add'">Agregar Tipo de Actividad</li>
        <li class="active actualpg" ng-show="state.current.name === 'activityType.edit'">Editar Tipo de Actividad</li>
    </ol>
    <progressbar class="progress-striped active" value="100" type="info" ng-show="loading"></progressbar>
    <div class="toolbar">
        <div class="pull-right">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group  btn-group-sm">
                    <!--<button class="btn btn-default" tooltip="Regresar" ng-click="back()"><span class="glyphicon glyphicon-chevron-left"></span></button>-->
                    <button class="btn btn-default sin-padding" tooltip="Guardar" ng-click="save()" ng-disabled="frmActivityType.$invalid"><span class="pers-btn icono-guardar tam-normal"></span></button>
                </div>
            </div>
        </div>
    </div>
    <br>
    
    <div class="panel panel-default">
        <div class="panel-heading">Tipo de actividad</div>

        <div class="panel-body">
            <form  role="form" novalidate name="frmActivityType">
                <div class="row">
                    <div class="col-md-3">
                        <input type="hidden" class="form-control" ng-model="activityType.id">
                        <div class="form-group" ng-class="getFormFieldCssClass(frmActivityType.name)">
                            <label for="name">Actividad</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Tipo de actividad" required ng-model="activity.name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <input type="hidden" class="form-control" ng-model="activityType.description">
                        <div class="form-group" ng-class="getFormFieldCssClass(frmActivityType.description)">
                            <label for="description">Descripción</label>
                            <textarea type="text" class="form-control" id="economicNumber" name="description" placeholder="Descripción de la actividad" required ng-model="activity.description" rows="5" cols="33"></textarea>
                        </div>
                    </div>
                </div>
            </form>        
        </div>
    </div>
</div>